.main_container{
	margin-top: 10px;
}
.header{
	margin: 10px;
	font-size: 20px;
}
.dialog_container{
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr ;
	margin-left: 10px;
}
.name{
	margin: 15px;
}
.name:hover{
	font-size: 22px;
}